<?xml version="1.0" ?>

<launch>
  <arg name="rviz" default="true"/>  <!-- launch rviz in this launch or not -->
  <arg name="robot_ip" default="192.168.0.22"/>
  <arg name="connect_robot" default="false"/>
  <arg name="gui" default="true"/>

  <!-- load model -->
  <param name="robot_description" command="$(find xacro)/xacro $(find xarm_description)/urdf/xarm_device.urdf.xacro robot_type:=lite dof:=6"/>

  <!-- when robot is disconnected -->
  <group unless="$(arg connect_robot)" >
    <node if="$(arg gui)"     name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
    <node unless="$(arg gui)" name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    <node pkg="robot_state_publisher" type="robot_state_publisher"
          name="robot_state_publisher" />
  </group>

  <!-- rviz -->
  <node if="$(arg rviz)" pkg="rviz" type="rviz" name="rviz" args="-d $(find lite6_interface)/config/lite6.rviz" />

</launch>
