<?xml version="1.0" ?>

<launch>
  <arg name="robot_ip" default="192.168.0.42"/>
  <arg name="moveit"   default="true"/>

  <!-- robot control -->
  <include file="$(find xarm_bringup)/launch/lite6_server.launch">
    <arg name="robot_ip"   value="$(arg robot_ip)" />
    <arg name="ns"         value="lite6" />
    <arg name="use_moveit" value="false" />  <!-- moveit should be launched with *_moveit_config, not 'use_moveit' arg-->
  </include>

  <!-- moveit and rviz-->
  <include if="$(arg moveit)" file="$(find lite6_moveit_config)/launch/demo.launch" />

  <!-- <node name="position_joint_trajectory_controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="position_joint_trajectory_controller" /> -->
</launch>
