[submodule "robots/dobot_magician/Magician_ROS"]
	path = robots/dobot_magician/Magician_ROS
	url = git@github.com:asanolab/Magician_ROS.git
[submodule "robots/ufactory_arm/xarm_ros"]
	path = robots/ufactory_arm/xarm_ros
	url = git@github.com:asanolab/xarm_ros.git
