<?xml version="1.0" ?>

<launch>
  <arg name="rviz" default="true"/>
  <arg name="gui" default="true" />
  <arg name="connect_robot" default="false"/>
  <arg name="arm" default="panda"/>

  <!-- load model -->
  <param name="robot_description" command="$(find xacro)/xacro $(find panda)/models/$(arg arm).urdf.xacro" />

  <!-- when robot is disconnected -->
  <group unless="$(arg connect_robot)" >
    <node if="$(arg gui)"     name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
    <node unless="$(arg gui)" name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  </group>

  <!-- rviz -->
  <node if="$(arg rviz)" pkg="rviz" type="rviz" name="rviz" args="-d $(find panda)/config/$(arg arm)_visualization.rviz" />

</launch>
