<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="franka_arm_pedestal" >
  <!-- paremeters -->
  <xacro:property name="franka_arm_pedestal_origin_xyz" value="0 0 0.79" />  <!-- Pedestal height [mm] from its drawing. 800 (stand leg), 790 (wheel) -->

  <!-- macro -->
  <xacro:macro name="franka_arm_pedestal" params="franka_arm_pedestal_id:='panda' franka_arm_pedestal_origin:='world' franka_arm_pedestal_joint_limits:='' franka_arm_pedestal_hand:='true'" >
    <!-- arm -->
    <xacro:include filename="$(find franka_description)/robots/common/franka_arm.xacro" />
    <xacro:franka_arm arm_id="${franka_arm_pedestal_id}" connected_to="${franka_arm_pedestal_origin}" xyz="${franka_arm_pedestal_origin_xyz}" safety_distance="0.03" joint_limits="${franka_arm_pedestal_joint_limits}"/>

    <!-- hand -->
    <xacro:if value="${franka_arm_pedestal_hand}">
      <xacro:include filename="$(find franka_description)/robots/common/franka_hand.xacro" />
      <xacro:franka_hand arm_id="${franka_arm_pedestal_id}" rpy="0 0 ${-pi/4}" connected_to="${franka_arm_pedestal_id}_link8" safety_distance="0.03"/>
    </xacro:if>

    <!-- generate the link where the robot connected to-->
    <link name="${franka_arm_pedestal_origin}" />

    <!-- pedestal -->
    <xacro:include filename="$(find franka_arm)/models/pedestal.urdf.xacro" />
    <xacro:pedestal arm_id="${franka_arm_pedestal_id}" />

  </xacro:macro>

</robot>
