<?xml version="1.0" ?>

<launch>
  <include file="$(find franka_arm)/launch/franka_arm_visualization.launch">
    <arg name="rviz"          value="true" />
    <arg name="gui"           value="true" />
    <arg name="connect_robot" value="false" />
    <arg name="arm"           value="panda" />
  </include>

</launch>
